<!-- /partials/header.ejs -->

<header>
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1em;
      margin-bottom: 2em;
      border-bottom: 1px solid var(--color-text);
    "
  >
    <img src="data:image/png;base64,<%= logoBase64 %>" />
    <div>
      <h1 style="font-size: 3em">
        <span style="margin-right: 1ch"><%= info.documentType %></span
        ><span><%= info.documentNo %></span>
      </h1>
      <h2 style="text-align: end"><%= info.createdAt.split(' ')[0] %></h2>
    </div>
  </div>
</header>
