<!-- /partials/header.ejs -->
<header>
  <div class="document-header">
    <h1><%= info.documentType %></h1>
    <p># <%= info.documentNo %></p>
    <p>Date: <%= info.createdAt %></p>
  </div>
  <div class="sellers-info">
    <p><strong>Scierie Le Tourneur</strong></p>
    <p>360 Rte. 329, Lachute, QC J8H 3W9</p>
    <p>T. (514)-571-3733</p>
    <p>maprefontaine@gmail.com</p>
  </div>
</header>
