/* 
================================
Main style sheet for Dashboard
================================
*/

/* Layout */
.contentWrapper {
  flex-grow: 1;
  height: 400px;
  background-color: var(--cl-background-light);
}
.jobsWrapper {
  --min-column-width: 380px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--min-column-width), 100%), 1fr)
  );
  gap: 1rem;
  padding: 0.6em;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100%;
}

/* Cards */
.cardContainer {
  container-type: inline-size;
  container-name: card;
  background-color: var(--cl-background-light);
  cursor: grab;
  height: 30em;
  padding: 0.5em;
  user-select: none;
  -webkit-user-select: none;
}
.cardContainer:active {
  cursor: grabbing;
}

@container card (max-width: 420px) {
  .cardBody {
    /* when short */
    flex-direction: column;
  }
}

.status {
  /* Status color */
  --status-quote: #d1d3d4;
  --status-ready: rgb(135, 220, 148);
  --status-waiting: #fff9a6;
  --status-payment-pending: #d5f1a3;
  --status-processing: #f1a8a8;
  /* Required date color */
  --required-date-future: #a8e6a1;
  --required-date-soon: #fff9a6;
  --required-date-past: #f1a8a8;

  display: flex;
  gap: 1em;
}
.status span {
  font-weight: 500;
  min-width: 6em;
  text-align: center;
  padding: 0.4em 0.5em;
  border-radius: 0.25em;
}

.cardBody {
  display: flex;
}

.orderInformation p {
  font-size: var(--fs-md);
}
.jobDetails {
  font-size: var(--fs-base);
}
.jobDetails label {
  width: 6em;
}
