/* 
================================
Main style sheet for Pos Page
================================
*/

.footerContainer {
  flex-shrink: 0;
  min-height: 10em;
}
.gridContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}
.columnWrapper {
  height: 9em;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
