/* 

RESET STYLES

*/

*:where(:not(dialog, strong, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
Remove list styles (bullets/numbers)
in case you use it with normalize.css
*/
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}
/* Hide scrollbar while keeping scroll functionality */
*::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

dialog {
  padding: 0;
  outline: none;
}

/* 

DEFAULT STYLES

*/

:root {
  --font-family-base: "Open Sans", sans-serif;
  /* Step -2: 8.3333px → 11.1111px */
  --fs-xxs: clamp(0.5208rem, 0.2383rem + 0.5885vw, 0.6944rem);
  /* Step -1: 10px → 13.3333px */
  --fs-sm: clamp(0.625rem, 0.286rem + 0.7062vw, 0.8333rem);
  /* Step 0: 12px → 16px */
  --fs-base: clamp(0.75rem, 0.3432rem + 0.8475vw, 1rem);
  /* Step 1: 14.4px → 19.2px */
  --fs-md: clamp(0.9rem, 0.4119rem + 1.0169vw, 1.2rem);
  /* Step 2: 17.28px → 23.04px */
  --fs-lg: clamp(1.08rem, 0.4942rem + 1.2203vw, 1.44rem);
  /* Step 3: 20.736px → 27.648px */
  --fs-xl: clamp(1.296rem, 0.5931rem + 1.4644vw, 1.728rem);
  /* Step 4: 24.8832px → 33.1776px */
  --fs-xxl: clamp(1.5552rem, 0.7117rem + 1.7573vw, 2.0736rem);
  /* Step 5: 29.8598px → 39.8131px */
  --fs-xxxl: clamp(1.8662rem, 0.854rem + 2.1087vw, 2.4883rem);
  /* Nav Icons */
  --fs-nav-icon: clamp(1.5rem, -0.1582rem + 3.2175vw, 2.6rem);

  --color-text: #333;
  --color-border: #ccc;
  --color-header-bg: #f0f0f0;

  --space-xs: 0.25em;
  --space-sm: 0.5em;
  --space-md: 1em;
  --space-lg: 2em;

  --border-radius: 6px;
  --border-width: 2px;
  --border-style: solid;
}
@media print {
  header,
  footer {
    display: block;
    page-break-inside: avoid;
  }

  footer {
    position: relative;
    bottom: 0;
    margin-top: auto;
  }

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
  }

  main {
    flex: 1;
  }
}
img {
  width: 120px;
  opacity: 80%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-text);
  width: 60em;
  margin: auto;
  padding: var(--space-lg);
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
h1 {
  font-size: var(--fs-xxl);
  font-weight: 600;
}
h2 {
  font-size: var(--fs-xl);
  font-weight: 600;
}
h3 {
  font-size: var(--fs-lg);
  font-weight: 600;
}
h4 {
  font-size: var(--fs-md);
  font-weight: 600;
}

section {
  break-inside: avoid;
  padding: var(--space-sm);
}

.coordinates {
  display: flex;
  justify-content: space-between;
}
.coordinates > article {
  width: 50%;
}
.coordinates > article > :first-child {
  line-height: 45px;
}
.coordinates > article p {
  line-height: 1.5em;
}

.document-meta {
}
.document-meta > article:first-child {
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%;
  table-layout: fixed;
}
thead {
  background-color: var(--color-header-bg);
  font-weight: 600;
}
tr {
  border-bottom: 1px solid var(--color-border);
}
th,
td {
  padding: var(--space-sm);
  text-align: left;
  word-wrap: break-word;
  align-content: center;
}

footer {
  width: 100%;
  font-size: var(--fs-sm);
  margin-top: auto;
}
footer > article.tnc-constant {
  font-weight: 600;
  margin-bottom: 0.5em;
}
